<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/homeStyles.css">
    <title>Home Page</title>
</head>
<body>

    <div class="topnav">
      <a class="active" href="/web/v1">Home</a>
      <a href="/web/v1/user-management">User Managment</a>
      <a href="/web/v1/list-users">User</a>
      <a href="#about">About</a>
    </div>

    <h1>Chữ Home Page to đùng </h1>
    
</body>
</html>