<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>đây là ảnh nodejs bạn ei. Ok chưa... </h1>
    <img class="kien" src="/images/nodeimg.png">
</body> 
</html>